body{



background-color: bisque;
    font-family: fantasy, sans-serif;
    color: darkmagenta;
}

#thinglist{
    border-radius: 70px 70px 70px 70 px;
    background-image: url("cubes.png");
    background-color: burlywood;
}
h1{
    
    
    
    
}

#Main{
background-color: darksalmon    
    

}
h2{
    
    
    
    
}

h3{
    
    
    
    
}


.sideborder{
    
    
    
    
    
}
#wrapper {
margin: auto;
width: 80%;
box-shadow: 5px 5px 5px #000033;
background-color: #F18F8F;
background-image: url(cubes.png);
min-width: 960px;